*{
    padding:0;
    margin:0;
}
body, html, #root, .App, div {
    height: 100%;
    width:100%;
}
body{
    background: #2e3436 url("/images/noise.png");
    overflow: auto;
}
.navbar{
    height: 80px;
    background-color:#202628;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
aside{
    display: none;
    margin:0;
    float: left;
    background-color: #CD7300;
    color: white;
    width:0;
    height: 100%;
    font-size: 30px;
    padding:60px 20px;
    /*line-height: 120px;*/
    box-shadow: 0 0 50px #000;
}

aside.open{
    display: block;
    animation: 5s;
    width:230px;
    z-index: 0;
}

aside h4{
    margin:0;
    padding-top:20px;
    font-size: 40px;
}

aside .close, .commentary-delete{
    width:30px;
    height:40px;
    padding:auto;
    float: right;
    position:relative;
    top:-50px;
    right:0px;
    cursor: pointer;
}


aside ul{
    margin:0;
    padding: 10px 0;
    list-style-type: none;
    height:100%;
    width:100%;
}

aside a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin:40px 0px;
    padding: 0 5px;
   
}

aside a:hover, aside .close:hover{
    border: 2px solid #fff;
}

aside.close{
    position: relative;
}

.comment-section{
    margin-top:100px;
    background-color:white;
    height:100px;
}

.commentary-delete{
    background-color: white;
}