.showCommentaries {
    display:block;
    margin: 0 auto;
    text-align:center;
    cursor:pointer;
    &:hover{
        -webkit-text-stroke: .4px $orange;
    }
    &::before {
        content:'';
        margin: 15px auto;
        display:block;
        width: 100px;
        height: 2px;
        background-color:white;
    }
    &.no{
        display:none;
    }
}